<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    @for(control of meta; track $index) {
    <div class="form-row">
      <app-control [control]="control" [form]="form"></app-control>
    </div>
    } @empty {
    <p>No form controls</p>
    }

    <div class="form-row">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>

  @if(payLoad){
  <div class="form-row">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
  }
</div>
